.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 40vh;
    width: 70vh;
    background-color: blue;
}
section>section{
    display: grid;
    border-radius: 90%;
    background-color: yellow;
    height: 40vh;
    width: 40vh;
}
